h1 {
	text-align: center;
	color: Black;
	font-size: 40px
	font-weight: bold;



}
.about > article > section {
	text-align: center;
	font-style: italic;
	font-size: 30px;
	color: Black;
	padding-top: 50px;

}